<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Proveedor</title>
</head>
<body>
    <h1>Formulario</h1>
    <form method="post">
        {%csrf_token%}
        nombre:<input type="text" name="nombre">
        apellido:<input type="text" name="apellido">
        dni:<input type="number" name="dni">
        <input type="submit" value="Guardar">
    </form>
    <a href="{% url 'lista_proveedores'%}">
        Cancelar
    </a>
</body>

</html>