{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Proveedores</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <H1>LISTA DE PROVEEDORES</H1>
    <table class="table-primary">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DNI
            </th>
        </tr>
        <tr>
            {%for proveedor in lista_proveedor%}
                <tr>
                    <td>{{proveedor.id}}</td>
                    <td>{{proveedor.nombre}}</td>
                    <td>{{proveedor.apellido}}</td>
                    <td>{{proveedor.dni}}</td>
                </tr>
            {%endfor%}
        </tr>
    </table>
    <a href="{% url 'agregar_proveedor' %}">
        Agregar Proveedor
    </a>
    <a href="{% url 'pagina_principal'%}">
        Volver
    </a>

</body>
</html>